@charset "UTF-8";
/*--------全局初始化---------*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
/*/----------全局CSS功能区-------*/
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clear{
    clear: both;
}
.clearLeft{
    clear: left;
}
.clearRight{
    clear: right;
}
.borderLeft{
    border-left: #ddd solid 1px;
}



/*--------header区---------*/
logo{
    display: block;
    float: left;
    width: auto;
    height: auto;
}
header ul li a{
    display: block;
    margin: 1px 20px;
    color: #7294CA;
    font-weight: bold;
}
header ul li{
    display: block;
}
header{
    width: 1300px;
    margin: 20px auto;
}
header:after{
    content: "";
    display: block;
    clear: both;
}
/*--------main区------------*/
main{
    width: 100%;
    height: 900px;
    background-color: #F4F8FB;
}
simple{
    position: relative;
    width: 1200px;
    margin: 0px auto;
    display: block;
}
main simple img{
    position: absolute;
    display: block;
    float: left;
    left:0px;
    top: 180px;

}
login{
    width: 450px;
    position: absolute;
    top: 100px;
    right: 0px;
    padding: 30px;
    float: right;
    height: 500px;
    background-color: white;
    text-align:center;
}

login h1{
    font-size: 30px;
    font-family:"楷体", "Adobe 黑体 Std R",sans-serif;
}
#service,#AvoidLanding{
    background-color: #ffffff;
    width: 20px;
    border: none;
    height:20px;
}
#service:checked{
    background: #3F7BCD;
}
#user{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 350px;
    height: 50px;
    font-size: 22px;
    text-indent: 35px;
}
#password{
    height: 50px;
    margin: 20px auto;
    width: 350px;
    font-size: 22px;
    text-indent: 35px;
}
#service{
    margin-left: 50px;
    margin-top: 100px;
    float: left;
}
#AvoidLanding{
    float: left;
    margin-top: 100px;
    margin-left: 80px;
}
.service{
    float: left;
    margin-top: 100px;
}

#login{
    width: 350px;
    height: 45px;
    margin: 20px auto;
    font-size: 25px;
    font-weight: bold;
    background: #377EE9;
    color: white;
    border: 1px #377EE9;
    border-radius: 2px 2px;
}
main simple login form{
    position: relative;
}
#users{
    width: 21px;
    height: 21px;
    background: url("https://ursdoccdn.nosdn.127.net/yun/sprite_yun_20160907.png") no-repeat;
    display: block;
    top: 55px;
    left: 50px;
    z-index: 100;
    position: absolute;
    }
    #passwords{
    width: 21px;
    height: 21px;
    background: url("https://ursdoccdn.nosdn.127.net/yun/sprite_yun_20160907.png") -21px -2px no-repeat;
    display: block;
    top: 148px;
    left: 50px;
    z-index: 100;
    position: absolute;
    }
    /*Register*/
    main simple register{
    width: 500px;
    height: 700px;
    position: absolute;
    display: block;
    background:white;
    left: 25%;
    }
