<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.role_info.dao.Role_infoMapper" >
  <resultMap id="BaseResultMap" type="com.lanou.role_info.domain.Role_info" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="extendRole_info" >
    <id property="roleId" column="role_id"/>
    <result property="name"  column="name"/>
    <collection ofType="com.lanou.role_info.domain.ExtendRole_info"
                property="moduleIds" javaType="java.util.ArrayList"
                column="role_id" select="selectModules">
    </collection>
  </resultMap>


  <sql id="Base_Column_List" >
    role_id, name
  </sql>
  <select id="selectModules"
          parameterType="int"
          resultType="string">
    select module_info.name from module_info where module_id in (
    select module_id from role_module
    where role_id=#{roleId}
    )
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_info
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteRoleMOdule" parameterType="integer">
    DELETE  FROM role_module WHERE role_id=#{arg0}
  </delete>
  <insert id="insert" parameterType="com.lanou.role_info.domain.Role_info" >
    insert into role_info (role_id, name)
    values (#{roleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lanou.role_info.domain.Role_info" >
    insert into role_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanou.role_info.domain.Role_info" >
    update role_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanou.role_info.domain.Role_info" >
    update role_info
    set name = #{name,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <insert id="updateByRoleModule" parameterType="integer">
    INSERT INTO  role_module VALUES (#{arg0},#{arg1})


  </insert>
  <insert id="insertroleInfo" parameterType="extendRole_info" useGeneratedKeys="true" keyProperty="roleId" keyColumn="role_id">
    INSERT INTO role_info(name) VALUES (#{name})
  </insert>

  <insert id="insertRoleModule" parameterType="extendRole_info">
    INSERT INTO role_module VALUES
    <foreach collection="moduleIds" item="item" separator=",">
      ( #{roleId},#{item} )
    </foreach>

  </insert>

  <select id="findTotalData" resultType="int" >
    select count(*) from role_info
  </select>

  <select id="findAllByPage" parameterType="role_infoPageBean" resultMap="ResultMap">
    SELECT
*
    FROM role_info
    limit #{pageData},#{pageSize}
  </select>

  <select id="findAll" parameterType="role_infoPageBean" resultMap="ResultMap">
    SELECT
*
    FROM role_info
    limit #{pageData},#{pageSize}
  </select>


</mapper>