<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="car"
      class="com.lanou.di.Car">
    <constructor-arg value="辉腾" name="name"/>
</bean>
    <bean id="per"
          class="com.lanou.di.Person">
        <constructor-arg index="0" value="PGOne"/>
        <constructor-arg index="1" ref="car"/>
       </bean>

    <bean id="wt"
          class="com.lanou.di.Person">
        <property name="name" value="王韬"/>
        <property name="age" value="20"/>
        <property name="car" ref="car"/>
        <property name="gender" value="男"/>
        <property name="list">
            <list><value>list</value><ref bean="car"/></list>
        </property>
        <property name="map">
            <map><entry  key="k1"><value>map1</value></entry>
                <entry key="k1"><value>map2</value></entry>
            </map>
        </property>
        <property name="set">
            <set><value>set1</value><ref bean="car"/></set>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">properties1</prop>
                <prop key="p2">properties2</prop>
            </props>
        </property>
        <property name="objects">
            <array><value>obj1</value><ref bean="car"/></array>
        </property>
    </bean>



</beans>
