<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.study.user.dao.UserDao">

<insert id="insertUser" parameterType="user" >
    INSERT INTO USER(uname,password) VALUES (#{uname},#{password})
</insert>

    <select id="login" parameterType="user" resultType="user">
        SELECT * FROM  USER  WHERE uname=#{uname} AND password=#{password}
    </select>

</mapper>