#email{
    height: 40px;
    margin: -20px auto;
    width: 347px;
    font-size: 22px;
    text-indent: 35px;

}
#username{
    height: 40px;
    margin-top: 18px;
    margin-left: 89px;
    width: 347px;
    font-size: 22px;
    text-indent: 35px;
}
#password{
    margin-top: -40px;
    margin-bottom: -10px;
    width: 347px;
    height: 40px;
    font-size: 22px;
    text-indent: 35px;
}
#region{
    height: 50px;
    width: 355px ;
    font-size: 30px ;
    font-weight: 100 ;
    position: relative; left: 90px;top: 2px;
    background-color: #1e88e5; color: white
}
.a{width:100%;
    height:100%;
    position: absolute;
}

h1{
    position: relative;
    top: 45px;
}
.b1{height: 5% ;
    background : white;
}
.view{
    position: absolute;
    right:60%;
    top: 25%
}
.b2{height: 500px;
    width: 500px ;
    background-color: white;
    position: absolute;
    right: 20%;
    top: 25%}
.c1,.c2,.c3,.c4,.c5,.c6{
    position: relative;
    height: 80px;
}

.c22,c222{
    border: 1px;
    position: relative;
    height: 0;
    width: 350px;

    left:90px;
    top : 25px;
}

.c33{
    position: relative;
    height: 0px;
    width: 350px;

    left:90px;
    top : 25px;
}


.forget{
    float: left;position: relative;left: 90px;top: 10px ; color: #1e88e5;
}
.t1{
    left: 5px;top: 10px;
    position: relative;
    /*background-color: green;*/
    width: 21px;height: 21px;
    background: url("../img/123.png");
}
.t2{
    left: 5px;top: -10px;
    position: relative;
    width: 21px;height: 21px;
    background: url("../img/123.png")-21px -3px no-repeat;
}
.t0{
    left: 155px;top: 65px;
    position: relative;
    /*background-color: green;*/
    width: 21px;height: 21px;
    background: url("../img/789.png")-0px -0px no-repeat;
}
a{
    position: relative;
    left: 180px;
    right: 20px;
    font-size: 20px;
    top: 45px;
}
#point,#point1{
    position: relative;
    left: 355px;
    top:-23px;
    font-size: 13px;
    color: red;
    display: none;
}