<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="grzx.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span>联系本店</span></div>
</div>
<div class="content">
  <div class="main">
    <div class="art">
       <div class="art_title">联系本店</div>
       <p>店铺名称：怡海花园便利店</p>
       <p>联系电话：010-98657548</p>
       <p>联系地址：北京市丰台区富丰路星火科技大厦</p>
    </div>
  </div>
</div>
</body>
</html>
