<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<!--全局start-->
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<!--全局end-->
</head>
<body>
<div class="top">
<div class="t_l"><a class="l_nav" href="dpj.html"><img src="images/zjt.png"/></a></div>
<div class="t_c"><span>发布评价</span></div>
<div class="t_r"></div>
</div>
<div class="content">
  <div class="main">
     <div  class="gdxx_bd">
     <ul class="bdxx_gr">
		  <li>
            <label style="margin-left:8px;float:left">商品质量：</label>
			<span><input  type="radio" class="radio"/>好</span>
			<span><input  type="radio" class="radio"/>中</span>
			<span><input  type="radio" class="radio"/>差</span>
		 </li>
		 <li>
            <label style="margin-left:8px;float:left">服务质量：</label>
			<span><input  type="radio" class="radio"/>好</span>
			<span><input  type="radio" class="radio"/>中</span>
			<span><input  type="radio" class="radio"/>差</span>
		 </li>
	 </ul>
	</div>
	 <div class="gdxx_bd">
	    <textarea style="font-size:14px;padding:8px 0px; border:none;text-indent:0.8em" placeholder="请输入您的文字评价信息"></textarea>
	 </div>
	<a href="" class="tjdcwj">提 交</a>
  </div>
</div>
</body>
</html>
