<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
<script src="js/jquery-1.8.3.min.js" language="javascript" type="text/javascript"></script>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="wddd.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span>待收货订单</span></div>
</div>
<div class="content">
  <div class="main">
    <ul class="dd_list">
      <li>
            <div class="dd_title"><span class="dd_ddbh">订单编号:wyj2015041201</span><span class="dd_time">04-12 09:30</span></div>
            <ul class="dd_s_list">
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li class="dd_bz">
                 <p class="red">请务必12:00前送达，不然我就出门啦！</p>
               </li> 
               <li class="dd_cz"><div class="czbtn"><a href="#">取消</a></div><div class="dd_zj">总计：<span class="red">￥450.20元</span></div></li>
            </ul>
       </li>
        <li>
            <div class="dd_title"><span class="dd_ddbh">订单编号:wyj2015041201</span><span class="dd_time">04-12 09:30</span></div>
            <ul class="dd_s_list">
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li class="dd_bz">
                 <p class="red">请务必12:00前送达，不然我就出门啦！</p>
               </li> 
               <li class="dd_cz"><div class="czbtn"><a href="#">取消</a></div><div class="dd_zj">总计：<span class="red">￥450.20元</span></div></li>
            </ul>
       </li>
        <li>
            <div class="dd_title"><span class="dd_ddbh">订单编号:wyj2015041201</span><span class="dd_time">04-12 09:30</span></div>
            <ul class="dd_s_list">
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li>
                 <div class="dd_x_img"><img src="images/dd_img.png"/></div>
                 <div class="dd_x_text"><p>唯聚一家优惠风暴——法国原装进口83年拉菲精装</p></div>
                 <div class="dd_x_price"><p>￥150.00</p><p>x2</p><p>￥300.00</p></div>
               </li>
               <li class="dd_bz">
                 <p class="red">请务必12:00前送达，不然我就出门啦！</p>
               </li> 
               <li class="dd_cz"><div class="czbtn"><a href="#">取消</a></div><div class="dd_zj">总计：<span class="red">￥450.20元</span></div></li>
            </ul>
       </li>
    </ul>
  </div>
</div>
<script> 
  window.onload=function(){
	// 获取窗口宽度
	if (window.innerWidth)
	winWidth = window.innerWidth;
	else if ((document.body) && (document.body.clientWidth))
	winWidth = document.body.clientWidth;
	// 获取窗口高度
	if (window.innerHeight)
	winHeight = window.innerHeight;
	else if ((document.body) && (document.body.clientHeight))
	winHeight = document.body.clientHeight;
	// 通过深入 Document 内部对 body 进行检测，获取窗口大小
	if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth)
	{
	winHeight = document.documentElement.clientHeight;
	winWidth = document.documentElement.clientWidth;
	}

	var wh=(winWidth*96/100-165);
	$('.dd_x_text').css('width',wh);
	}
  </script>
</body>
</html>
