<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="#"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span>栏目名称</span></div>
</div>
<div class="content">
  <div class="main">
     <div class="" style="width:260px; height:260px;margin:15px auto;text-align:center"><img src="images/empty.png"/></div>
  </div>
</div>
</body>
</html>
