<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="grzx.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span class="search"><input type="text"  class="kuang" placeholder="服务关键字"/><input type="button" class="niu"/></span></div>
</div>
<div class="content">
  <div class="main">
    <ul class="news_list">
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
      <li>
        <a href="article.html">
          <p class="news_title">服务的标题</p>
          <p class="news_text">这里是地址信息方便就近选择</p>
          <p class="news_time red">李师傅15807197563</p>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
