<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //判断用户是否登录 显示不同的内容
        if(sessionStorage.getItem("username")==null){
            $("#aa").html("请登录！")
        }else {
            $("#aa").html(sessionStorage.getItem("username"))
        }

        //点击时 如果用户没有登录就跳转到登录页面
        $(".why").click(function () {
            if(sessionStorage.getItem("username")==null){
                window.location="login.html"
            }
        });
        //退出
        $(".tc").click(function () {
            sessionStorage.clear();
            window.location="grzx.html"
        })

        $(".nav_dd").click(function () {
            if(sessionStorage.getItem("username")==null){
                alert("还未登录")
                window.location="login.html"
            }
        })

    })


</script>
</head>
<body>
<div class="content content1" style=" margin-top:0px">
  <div class="main">
    <div class="zx_top">
       <div class="zx_sctx" alt="上传头像"><a class="grzx_sctx" href="#"><img src="images/tx.jpg"/></a></div>
       <a class="zx_sz" alt="设置"  href="sz.html"></a>
       <p class="why">您好！<span id="aa"></span></p>
    </div>
    <ul class="zx_list  cs">
       <li class="tomore zx_i1"><a href="dzwh.html"><span>收货地址</span></a></li>
       <li class="tomore zx_i2"><a href="article.html"><span>联系本店</span></a></li>
       <li class="tomore zx_i3"><a href="xzdp.html"><span>切换店铺</span></a></li>
       <li class="tomore zx_i4"><a href="sqkd.html"><span>我要开店</span></a></li>
       <li class="tomore zx_i5"><a href="fw.html"><span>便民服务</span><img src="images/hot.gif"/></a></li>
       <li class="tomore zx_i6"><a href="news.html"><span>消息中心</span></a></li>
       <li class="last   zx_i7"><a href="javascript:void(0);"><span>唯聚一家</span><span class="hm">010-5367 6330</span></a></li>
    </ul>
    <a href="#"  class="tc">退出</a>
  </div>
</div>

<ul class="foot_nav">
   <li class="nav_sy"><a href="index.html"><p>首页</p></a></li>
   <li class="nav_fl"><a href="fenlei.html"><p>商品分类</p></a></li>
   <li class="nav_dd"><a href="#"><p>我的订单</p></a></li>
   <li class="nav_zx"><a class="current"  href="grzx.html"><p>个人中心</p></a></li>
</ul>
</body>
</html>
