<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" th:href="@{css/base.css}" type="text/css" rel="stylesheet" />
<link href="css/style.css" th:href="@{css/style.css}" type="text/css" rel="stylesheet"/>
<script src="js/jquery-1.8.3.min.js" th:href="@{js/jquery-1.8.3.min.js}" language="javascript" type="text/javascript"></script>
<script src="js/swipe.js" th:href="@{js/swipe.js}" language="javascript" type="text/javascript"></script>
<script src="js/json2.js" th:href="@{js/json2.js}" type="text/javascript" ></script>
</head>

<body>
<div class="top">
  <div class="t_l"><a href="xzdp.html"><img src="images/qh.png"/></a></div>
  <div class="t_c"><span class="search"><input type="text"  class="kuang" placeholder="商品名/货号/类型"/><input type="button" class="niu"/></span></div>
  <div class="t_r"><a class="kjdl"  href="login.html">登录</a><a href="#"  style=" display:none"><img src="images/gwc.png"/></a></div>
</div>
<div class="content content1">
  <div class="main">
  

<!--<div class="banner">
     <img src="images/banner.png"/>
</div>
-->
    
<div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>
    <div><img src="images/banner.png"/></div>
    <div><img src="images/banner.png"/></div>
    <div><img src="images/banner.png"/></div>
  </div>
</div>

  
  
  <!--店铺公告-->
  <div class="dpgg">
    <p><marquee direction="left" align="left" loop="-1" scrollamount="2" scrolldelay="0" hspace="6px"><span id="spanone"></span>唯聚一家怡海花园店欢迎您的光临！</marquee></p>
  </div>
  <!--分类-->
  <ul class="fl_list">
     <li data-type="1" class="i1"><a th:href="@{Pro_list}" href="#"><img src="images/i1.png"  alt="进口零食"/><p>进口零食</p></a></li>
     <li data-type="5" class="i2"><a href="#"><img src="images/i2.png"  alt="休闲食品"/><p>休闲食品</p></a></li>
     <li data-type="3" class="i3"><a href="#"><img src="images/i3.png"  alt="美食佳肴"/><p>美食佳肴</p></a></li>
     <li data-type="4" class="i4"><a href="#"><img src="images/i4.png"  alt="饮食小吃"/><p>饮食小吃</p></a></li>
     <li data-type="6" class="i5"><a href="#"><img src="images/i5.png"  alt="精美饰品"/><p>精美饰品</p></a></li>
     <li data-type="2" class="i6"><a href="#"><img src="images/i6.png"  alt="美妆用品"/><p>美妆用品</p></a></li>
     <li data-type="7" class="i7"><a href="#"><img src="images/i7.png"  alt="书籍分类"/><p>书籍分类</p></a></li>
     <li data-type="8" class="i8"><a href="#"><img src="images/i8.png"  alt="其他类目"/><p>其他类目</p></a></li>
  </ul>
  <!--推荐上商品-->
     <ul class="pro_list">
     </ul>

  </div>
</div>
<script type="text/javascript">
    // pure JS
    var elem = document.getElementById('mySwipe');
    window.mySwipe = Swipe(elem, {
        // startSlide: 4,
        auto: 3000,
        continuous: true,
        // disableScroll: true,
        // stopPropagation: true,
        callback: function(index, element) {
            //alert(index);
        },
        // transitionEnd: function(index, element) {}
    });

    // with jQuery
    // window.mySwipe = $('#mySwipe').Swipe().data('Swipe');
    $(document).ready(function () {
        $("#spanone").html(sessionStorage.getItem("username")+",&nbsp;&nbsp;")
//        test();
        console.log(sessionStorage.phone);
    })
//    function test() {
//        $.get("http://192.168.11.232:8080/selectByHot",function (data) {
//            console.log(data);
//            $.each(data,function (index,item) {
//                console.log("++++++"+item.goods_id)
//                $(".pro_list:first").append(
//                    "<li data-id='"+item.goods_id+"'>"+
//                    "<a href='#'>"+
//                    "<div class='pro_pic'>"+
//                    "<img src='"+item.file_id+"'/>"+
//                    "<p class='pro_title'>"+item.goods_name+"</p>"+
//                    "</div>"+
//                    "<div class='pro_info'>"+
//                    "<span class='xj'>￥"+item.price+"" +
//                    "<span class='yj'>￥"+item.discount+"</span>"+
//                    "</span>"+
//                    "<span class='sczg'></span>"+
//                    "</div>"+"</a>"+"</li>"
//                );
//                $(".fl_list li").each(function () {
//                    $(this).click(function () {
//                        console.log(this.dataset.type);
//                        sessionStorage.setItem("type",this.dataset.type);
//                        window.location="pro_list.html"
//                    })
//                })
//                $(".pro_list:first li").on("click",function () {
//                    console.log("dddddd"+sessionStorage.goods_id);
//                    sessionStorage.goods_id=this.dataset.id;
//                    window.location="pro_detail.html"
//                })
//
//
//            })
//        })
//        $(".nav_dd a").click(function () {
//            if (sessionStorage.getItem("username")==null){
//                alert("请先登录");
//
//            }else {
//                window.location="wddd.html"
//            }
//        })
//
//
//    }

</script>
<ul class="foot_nav">
   <li class="nav_sy"><a class="current"  href="index.html"><p>首页</p></a></li>
   <li class="nav_fl"><a href="fenlei.html"><p>商品分类</p></a></li>
   <li class="nav_dd"><a href="#"><p>我的订单</p></a></li>
   <li class="nav_zx"><a href="grzx.html"><p>个人中心</p></a></li>
</ul>
</body>
</html>
