<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!--头部-->
<div class="top">
  <div class="t_l"><a href="sz.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c">意见反馈</div>
</div>
<!--主干部分-->
<div class="content">
  <div class="main">
    <div style="width:96%;margin:15px auto;border:1px solid #ddd;border-radius:4px; overflow:hidden"><textarea style="width:100%;border:none;  background:#fff; min-height:150px;"></textarea></div>
    <a href="sz.html"  class="tc">提交</a>
  </div>
</div>
</body>
</html>
