<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="index.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span>选择城市</span></div>
</div>
<div class="content">
  <div class="main">
    <div class="dqcs">当前城市：<span>北京市</span></div>
    <ul class="cs">
       <li><a href="#"><span>北京市</span></a></li>
       <li><a href="#"><span>天津市</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>河北省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>山西省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>内蒙古自治区</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>辽宁省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>吉林省</span></a></li>
       <li><a href="#"><span>北京市</span></a></li>
       <li><a href="#"><span>天津市</span></a></li>
        <li class="tomore"><a href="cs2.html"><span>河北省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>山西省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>内蒙古自治区</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>辽宁省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>吉林省</span></a></li>
        <li><a href="#"><span>北京市</span></a></li>
       <li><a href="#"><span>天津市</span></a></li>
        <li class="tomore"><a href="cs2.html"><span>河北省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>山西省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>内蒙古自治区</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>辽宁省</span></a></li>
       <li class="tomore"><a href="cs2.html"><span>吉林省</span></a></li>
    </ul>
  </div>
</div>
</body>
</html>
