<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="top">
  <div class="t_l"><a href="wddd.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c"><span>我的收藏</span></div>
  <div class="t_r"> </div>
</div>
<div class="content">
  <div class="main">
     <ul class="pro_list">
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
        <li>
           <a href="pro_detail.html">
           <div class="pro_pic">
            <img src="images/pro.jpg"/>
            <p class="pro_title">精品进口红酒优惠特卖</p>
           </div>
           <div class="pro_info">
              <span class="xj">￥45.00<span class="yj">￥52.00</span></span>
              <span class="sczg"> </span>
           </div>
           </a>
        </li>
     </ul>
  </div>
</div>
</body>
</html>
