<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>唯聚一家</title>
<link href="css/base.css" type="text/css" rel="stylesheet"/>
<link href="css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!--头部-->
<div class="top">
  <div class="t_l"><a href="dzwh.html"><img src="images/zjt.png"/></a></div>
  <div class="t_c">新增地址</div>
</div>
<div class="content">
  <div class="main">
     <ul class="zc">
        <li class="zc_title">联系人：</li>
        <li class="zc_text"><span class="zc_icon"><img src="images/lxr.png"/></span><input type="text" placeholder="您的姓名" class="long"/></li>
        <li style="margin-top:15px">手机号码：</li>
        <li class="zc_text"><span class="zc_icon"><img src="images/lxdh.png"/></span><input type="text" placeholder="您的手机号码" class="long" /></li>
        <li style="margin-top:15px">联系地址：</li>
        <li class="zc_text"><a href="qhcs.html"><span class="zc_icon"><img src="images/xzcs.png"/></span><input  type="button" value="选择城市" class="long"/><img src="images/yjt.png" style=" position:absolute; right:5px; top:10px; width:8px; height:10px"/></a></li>
        <li class="zc_text" style="margin-top:-1px"><span class="zc_icon"><img src="images/xxdz.png"/></span><input type="text" placeholder="详细地址" class="long" /></li>
         <li class="tj" ><a href="login.html">提 交</a></li>
     </ul>
  </div>
</div>
</body>
</html>
